<div class="page">
<app-home></app-home> <!--index.html-->
<app-about></app-about>
<app-contact></app-contact>
<app-dashboard2020></app-dashboard2020>
<app-details></app-details>
<app-detailsskyisblue></app-detailsskyisblue>
<app-detailstreereading></app-detailstreereading>
<app-help></app-help>
<app-lists></app-lists>
<app-listsdate></app-listsdate>
<app-listshostingplatforms></app-listshostingplatforms>
<app-listslanguages></app-listslanguages>
<app-listslocation></app-listslocation>
<app-listsorganizers></app-listsorganizers>
<app-listsx></app-listsx>
</div>